/* Start of Fonts */
@font-face {
  font-family: "Benton";
  src: url("../fonts/BentonSans-Book.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Benton";
  src: url("../fonts/BentonSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* For Titles EN */
@font-face {
  font-family: "Gil";
  src: url("../fonts/GIL.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gil";
  src: url("../fonts/GILB.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* AR Font */
@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* End of Fonts */

:root {
  --main-color: #a91a2d;
  --grey: #eee;
  --light-grey: #f8f8f8;
  --light: #fff;
  --dark: rgba(0, 0, 0, 0.87);
  --shadow-sm: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --shadow-md: rgba(215, 40, 43, 0.09) 0px 14px 24px 0px;
  --en-font-family: "Benton", Arial, sans-serif;
  --en--title-font-family: "Gil", Arial, sans-serif;
  --ar-font-family: "Changa", sans-serif;
  --spacing: 8px;
  --smooth: 0.4s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: var(--spacing);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(201, 198, 198);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
* {
  box-sizing: border-box;
  outline: none;
  user-select: none;
}
body {
  font-family: var(--en-font-family);
}
[dir="rtl"] body {
  font-family: var(--ar-font-family);
}
img {
  object-fit: cover;
}
a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.app > .page-content {
  flex-grow: 1;
  width: 100%;
}
.bg-grey {
  background-color: var(--grey);
}
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: filter 0.4s, -webkit-filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}
.blur-up.loaded,
.blur-up.swiper-lazy-loaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.smooth {
  -webkit-transition: var(--smooth);
  -moz-transition: var(--smooth);
  transition: var(--smooth);
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.truncate-1,
.truncate-2,
.truncate-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.truncate-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.truncate-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.truncate-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.text-inherit {
  color: inherit;
}
.text-main {
  color: var(--main-color);
}
.invalid-feedback {
  font-size: 0.75rem;
}
/* Start of EN Headings Fonts */
[dir="ltr"] h1,
[dir="ltr"] .h1,
[dir="ltr"] h2,
[dir="ltr"] .h2,
[dir="ltr"] h3,
[dir="ltr"] .h3,
[dir="ltr"] h4,
[dir="ltr"] .h4,
[dir="ltr"] h5,
[dir="ltr"] .h5,
[dir="ltr"] h6,
[dir="ltr"] .h6 {
  font-family: var(--en--title-font-family);
}
/* End of EN Headings Fonts */

/* Start of Icons */
.icon {
  display: flex;
}
.icon-sm svg {
  width: 16px;
  height: 16px;
}
.icon-md svg {
  width: 24px;
  height: 24px;
}
.icon-lg svg {
  width: 32px;
  height: 32px;
}
[dir="rtl"] .flip-x-rtl {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* End of Icons */

/* Start of Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  width: fit-content;
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  -webkit-transition: var(--smooth);
  -moz-transition: var(--smooth);
  transition: var(--smooth);
}
.btn.btn-main {
  color: var(--light);
  background-color: var(--main-color);
  box-shadow: rgba(169, 26, 45, 0.39) 0px 14px 24px 0px;
  border: 2px solid var(--main-color);
}
.btn.btn-main:hover {
  color: var(--dark);
  background-color: var(--light);
  box-shadow: none;
}
.btn.btn-white {
  color: var(--dark);
  background-color: var(--light);
  border: 2px solid var(--light);
}
.btn.btn-white:hover {
  color: var(--light);
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.btn.btn-social {
  width: 35px;
  height: 35px;
  color: var(--light);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 5px;
}
.btn.btn-social:hover {
  color: var(--main-color);
  background-color: var(--light);
}
/* End of Buttons */

/* Start of Back To Top Button */
.scroll-top-btn-wrapper {
  position: fixed;
  z-index: 20;
  bottom: 1.25rem;
  right: 1.25rem;
}
[dir="rtl"] .scroll-top-btn-wrapper {
  right: auto;
  left: 1.25rem;
}
.scroll-top-btn-wrapper:not(.show) {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}
.scroll-top-btn-wrapper .scroll-top-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  color: var(--dark);
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-top-btn-wrapper .scroll-top-btn:hover {
  background-color: #f5f5f5;
}
/* End of Back To Top Button */

/* Start of Modals */
.modal .btn-close {
  position: absolute;
  top: -40px;
  right: 0;
  opacity: 1;
  background-color: var(--main-color);
  background-image: none;
  border-radius: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  border: 1px solid var(--main-color);
  padding: 2px;
}
[dir="rtl"] .modal .btn-close {
  right: auto;
  left: 0;
}
.modal .btn-close:hover {
  color: var(--main-color);
  background-color: var(--light);
}
.btn-close:focus {
  box-shadow: none;
}
.modal .modal-content {
  border-radius: 0;
}
/* End of Modals */

/* Start of Form Controls */
.form-control {
  padding-top: 2.5rem !important;
}
.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--dark) !important;
}
.form-control:hover,
.form-select:hover {
  border-color: var(--dark) !important;
}
/* End of Form Controls */

/* Start of Swiper reset */
.swiper-lazy-preloader {
  margin: 0;
  border: none;
  border-radius: 0;
  animation: none !important;
}
/* End of Swiper reset */

/* Start of Form Validation Style */
[data-type="validator-error"] {
  font-size: 11px;
  position: absolute;
  z-index: 10;
  margin-top: 2px;
  color: #ffffff;
  background: rgb(200, 53, 53);
  box-shadow: 0 6px 2px -2px rgba(211, 77, 77, 0.47);
  padding: 4px 10px;
  border-radius: 0;
  pointer-events: none;
  bottom: -20px;
}
[data-type="validator-error"]:before {
  content: "";
  width: 0;
  height: 0;
  top: -5px;
  position: absolute;
  left: 6px;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #c83535;
}
/* End of Form Validation Style */

/* Start of Header */
.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  color: var(--light);
}
.header.header-fixed.triggered {
  color: var(--dark);
  background-color: var(--light);
  -webkit-animation: slideDown 0.35s ease-out;
  -moz-animation: slideDown 0.35s ease-out;
  animation: slideDown 0.35s ease-out;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
.header-fixed:not(.triggered) .normal-logo,
.header-fixed.triggered .fixed-logo,
.header:not(.header-fixed) .fixed-logo {
  display: none;
}
.btn-lang {
  font-family: var(--ar-font-family);
}
[dir="rtl"] .btn-lang {
  font-family: var(--en-font-family);
}
.header .nav-links-wrapper .nav-link {
  color: inherit;
  display: block;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
}
.header .dropdown .dropdown-trigger {
  border: none;
  background-color: transparent;
  color: inherit;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 10px 15px;
  width: 100%;
}
.header .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  text-transform: capitalize;
}
[dir="rtl"] .offcanvas.offcanvas-start {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}
[dir="rtl"] .offcanvas.show:not(.hiding),
[dir="rtl"] .offcanvas.showing {
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
@media screen and (max-width: 991px) {
  .header .nav-links-wrapper {
    color: var(--dark);
  }
  .header .nav-links-wrapper .nav-link.active,
  .header .dropdown .dropdown-menu .dropdown-item.active {
    color: var(--main-color);
  }
  .header .dropdown .dropdown-menu {
    position: static;
    border: none;
    padding: 1rem;
  }
  .header .dropdown .dropdown-trigger:not(.collapsed) .icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 992px) {
  .header.header-fixed {
    color: var(--light);
  }
  .header .offcanvas {
    position: static;
    visibility: visible;
    background-color: transparent;
  }
  .header .offcanvas.offcanvas-start {
    width: auto;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  .header .nav-links-wrapper {
    gap: 0.25rem;
  }
  .header .nav-links-wrapper .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--main-color);
    -webkit-transition: var(--smooth);
    -moz-transition: var(--smooth);
    transition: var(--smooth);
  }
  .header .nav-links-wrapper .nav-link:hover::after,
  .header .nav-links-wrapper .nav-link.active::after {
    width: 100%;
  }
  .header .dropdown .collapse:not(.show) {
    display: block !important;
  }
  .header .dropdown .dropdown-menu {
    border-radius: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    transition-duration: 0.25s;
  }
  .header .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
  .header .dropdown .dropdown-menu .dropdown-item:hover,
  .header .dropdown .dropdown-menu .dropdown-item.active {
    color: var(--light);
    background-color: var(--main-color);
  }
}
@media screen and (min-width: 1200px) {
  .header .nav-links-wrapper .nav-link,
  .header .dropdown .dropdown-trigger {
    font-size: 1.1rem;
  }
  .header .nav-links-wrapper {
    gap: 0.5rem;
  }
}
/* End of Header */

/* Start of Footer */
.footer .footer-heading {
  font-size: calc(1.25rem + 0.25vw);
  text-transform: capitalize;
}
.footer .footer-heading.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}
.footer .footer-heading.accordion:not(.collapsed) .accordion-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.footer .footer-links-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 200px;
}
.footer .footer-links-wrapper .footer-link {
  font-size: 0.8rem;
  text-transform: capitalize;
  display: block;
  position: relative;
  width: fit-content;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.footer .footer-links-wrapper .footer-link::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 1px;
  background-color: var(--light);
  transition: all 0.25s ease-in-out 0s;
}
.footer .footer-links-wrapper .footer-link:hover::after {
  width: 100%;
}
.footer .newsletter-form .form-control {
  background-color: rgba(217, 197, 197, 0.06);
  border: none;
  color: var(--light);
  border-radius: 0;
  padding-top: 1rem !important;
  padding-bottom: 1rem;
}
.footer .newsletter-form label {
  font-size: 0.85rem;
}
.footer .newsletter-form button {
  background-color: transparent;
  border-radius: 0;
  border: none;
  background-color: rgba(217, 197, 197, 0.06);
}
.footer .newsletter-form .submit-icon {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (min-width: 992px) {
  .footer .footer-heading {
    pointer-events: none !important;
  }
  .footer .collapse:not(.show) {
    display: block !important;
  }
  .footer .footer-heading.accordion .accordion-icon {
    display: none !important;
  }
}
/* End of Footer */

/* Start of Animations */
@-webkit-keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
/* End of Animations */
