/* Start of Fonts */
@font-face {
  font-family: "Benton";
  src: url("../fonts/BentonSans-Book.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Benton";
  src: url("../fonts/BentonSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* For Titles EN */
@font-face {
  font-family: "Gil";
  src: url("../fonts/GIL.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gil";
  src: url("../fonts/GILB.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* AR Font */
@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Changa";
  src: url("../fonts/Changa-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* End of Fonts */

:root {
  --main-color: #a91a2d;
  --grey: #eee;
  --light-grey: #f8f8f8;
  --light: #fff;
  --dark: #000;
  --shadow-sm: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --shadow-md: rgba(215, 40, 43, 0.09) 0px 14px 24px 0px;
  --en-font-family: "Benton", Arial, sans-serif;
  --en--title-font-family: "Gil", Arial, sans-serif;
  --ar-font-family: "Changa", sans-serif;
  --spacing: 8px;
  --smooth: 0.4s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: var(--spacing);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(201, 198, 198);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: var(--en-font-family);
}
[dir="rtl"] body {
  font-family: var(--ar-font-family);
}
img {
  object-fit: cover;
}
a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.app > .page-content {
  flex-grow: 1;
  width: 100%;
}
.bg-grey {
  background-color: var(--grey);
}
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: filter 0.4s, -webkit-filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}
.blur-up.loaded,
.blur-up.swiper-lazy-loaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.smooth {
  -webkit-transition: var(--smooth);
  -moz-transition: var(--smooth);
  transition: var(--smooth);
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.truncate-1,
.truncate-2,
.truncate-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.truncate-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.truncate-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.truncate-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
/* Start of EN Headings Fonts */
[dir="ltr"] h1,
[dir="ltr"] .h1,
[dir="ltr"] h2,
[dir="ltr"] .h2,
[dir="ltr"] h3,
[dir="ltr"] .h3,
[dir="ltr"] h4,
[dir="ltr"] .h4,
[dir="ltr"] h5,
[dir="ltr"] .h5,
[dir="ltr"] h6,
[dir="ltr"] .h6 {
  font-family: var(--en--title-font-family);
}
/* End of EN Headings Fonts */

/* Start of Icons */
.icon {
  display: flex;
}
.icon-sm svg {
  width: 16px;
  height: 16px;
}
.icon-md svg {
  width: 24px;
  height: 24px;
}
.icon-lg svg {
  width: 32px;
  height: 32px;
}
[dir="rtl"] .flip-x-rtl {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* End of Icons */

/* Start of Buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  width: fit-content;
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  -webkit-transition: var(--smooth);
  -moz-transition: var(--smooth);
  transition: var(--smooth);
}
.btn.btn-main {
  color: var(--light);
  background-color: var(--main-color);
  box-shadow: rgba(169, 26, 45, 0.39) 0px 14px 24px 0px;
  border: 2px solid var(--main-color);
}
.btn.btn-main:hover {
  color: var(--dark);
  background-color: var(--light);
  box-shadow: none;
}
.btn.btn-white {
  color: var(--dark);
  background-color: var(--light);
  border: 2px solid var(--light);
}
.btn.btn-white:hover {
  color: var(--light);
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End of Buttons */

/* Start of Back To Top Button */
.scroll-top-btn-wrapper {
  position: fixed;
  z-index: 20;
  bottom: 1.25rem;
  right: 1.25rem;
}
[dir="rtl"] .scroll-top-btn-wrapper {
  right: auto;
  left: 0;
}
.scroll-top-btn-wrapper:not(.show) {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}
.scroll-top-btn-wrapper .scroll-top-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  color: var(--dark);
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll-top-btn-wrapper .scroll-top-btn:hover {
  background-color: #f5f5f5;
}
/* End of Back To Top Button */

/* Start of Modals */
.modal .btn-close {
  position: absolute;
  top: -40px;
  right: 0;
  opacity: 1;
  background-color: var(--main-color);
  background-image: none;
  border-radius: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  border: 1px solid var(--main-color);
  padding: 2px;
}
[dir="rtl"] .modal .btn-close {
  right: auto;
  left: 0;
}
.modal .btn-close:hover {
  color: var(--main-color);
  background-color: var(--light);
}
.modal .modal-content {
  border-radius: 0;
}
/* End of Modals */

/* Start of Form Controls */
.form-control {
  padding-top: 2.5rem !important;
}
.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: var(--dark) !important;
}
.form-control:hover {
  border-color: var(--dark) !important;
}
/* End of Form Controls */

/* Start of Swiper reset */
.swiper-lazy-preloader {
  margin: 0;
  border: none;
  border-radius: 0;
  animation: none !important;
}
/* End of Swiper reset */

/* Start of Animations */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
/* End of Animations */
